*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.box{
    height: 400px;
    width: 500px;
    /* border: 1px solid; */
    box-shadow: 1px 1px 2px 3px black;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
.box img,.box div{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
